
body{
    font-family: Roboto, 'Times New Roman', Times, serif;
    background-color: #f1f1f1;
}

h1{
    font-size: 3em;
}
.section_forms, .section_convertido{
    margin: auto 200px;
}
.section_forms form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section_forms form textarea{
    height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 20px;
    
}
.section_forms .btns{
    padding: 10px;
}
.section_forms .btns button{
    padding: 10px;
    background-color: #999;
    border: none;
    cursor: pointer;
}

.section_convertido{
    padding: 20px;
}

@media screen and (max-width: 900px) {
    .section_forms, .section_convertido{
        margin: 10px;
    }
    .section_forms form textarea{
        margin: 10px auto;
        padding:0;
    }    
}