
body{
    font-family: Roboto, 'Times New Roman', Times, serif;
    background-color: #f1f1f1;
}

h1{
    font-size: 3em;
}

.section-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.section-container h1{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
}

.section-container .forms{
    width: 40%;
}
.section-container .forms form{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.section-container .forms form textarea{
    height: 300px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1.2em;
    padding: 5px;
}
.section-container .forms form .btns{
    margin-top: 10px;
}
.section-container .forms form .btns button{
    padding: 5px;
    background-color: rgb(36, 144, 220);
    color: #fff;
    border: none;
    font-size: 1em;
}


@media screen and (max-width: 1100px) {
    .section-container .forms{
        width: 100%;
    } 
    .section-container .forms form{
        width: 100%;
    }
} 